* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "Dreamer";
    src: url("../fonts/dreamer/FFFDreamer.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/bg.jpeg);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    font-family: "Dreamer";
    font-size: 10px;
    overflow-x: hidden;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 30px;
}

.bayan__title {
    font-size: 3.6em;
    text-align: center;
    padding-top: 50px;
    color: rgb(255, 241, 241);
    animation-name: titleAnimation;
    animation-duration: 2s;
    opacity: 1;
}

@keyframes titleAnimation {
    0%     {opacity: 0}
    12.5%  {opacity: .1}
    25%    {opacity: .25}
    37.5%  {opacity: .38}
    50%    {opacity: .50}
    62.5%  {opacity: .62}
    75%    {opacity: .75}
    87%    {opacity: .87}
    97%    {opacity: .97}
    100%   {opacity: 1}
}

.bayan__list {
    padding-top: 50px;
    width: 70%;
    margin: 0 auto;
    cursor: pointer;
}

.bayan__list li {
    list-style: none;
    width: 100%;
    margin-bottom: 30px;
    background: #fff;
    padding: 10px;
    box-shadow:  -8px 0 0 0 black,
                8px 0 0 0 black,
                0 -8px 0 0 black,
                0 8px 0 0 black;
}

.bayan__list li label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 1.8em;
    color: rgb(224, 59, 136);
}

.inp:checked + label img{
    transform: rotate(90deg);
}

.inp {
    display: none;
}

.content {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: all .8s;
}

.inp:checked ~ .content {
    max-height: 100vh;
}

.content img {
    display: block;
    margin: 0 auto;
    max-width: 0;
}

.inp:checked ~ .content img {
    max-width: 300px;
    transition: all .8s;
}
